doctype html
html
  head
    title About Us
    link(rel="stylesheet", href="/static/styleabout.css")

  body
    .container
      h1 About Our Dance Academy 💃

      p.tagline "Where Passion Meets Rhythm"

      .section
        h2 🎯 Our Mission
        p We aim to provide the best dance training and help students express themselves through dance.

      .section
        h2 💃 What We Offer
        ul
          li Hip-Hop
          li Classical
          li Bollywood
          li Contemporary

      .section
        h2 🏆 Why Choose Us?
        ul
          li Experienced Trainers
          li Friendly Environment
          li Stage Performances
          li Affordable Fees