doctype html
html
  head
    title Classes
    link(rel="stylesheet", href="/static/styleclass.css")

  body
    h1 Our Dance Classes 💃

    h2 Hip Hop
    p Timing: 5 PM - 6 PM
    p Fees: ₹2000/month

    h2 Classical
    p Timing: 6 PM - 7 PM
    p Fees: ₹2500/month

    h2 Bollywood
    p Timing: 7 PM - 8 PM
    p Fees: ₹1800/month