doctype html
html
  head
    title Home
    link(rel="stylesheet", href="/static/stylehome.css")

  body
    
    nav.navbar
      h2.logo Dance Academy 
      ul
        li: a(href="/home") Home
        li: a(href="/about") About
        li: a(href="/services") Services
        li: a(href="/class") Classes
        li: a(href="/contact") Contact

    .hero
      h1 Welcome to Our Dance Academy 
      p Learn. Dance. Perform.
      a.btn(href="/contact") Join Now

    .features
      .card
        h3  Expert Trainers
        p Learn from experienced professionals.

      .card
        h3  Multiple Styles
        p Hip-Hop, Classical, Bollywood & more.

      .card
        h3  Stage Performances
        p Get chance to perform in events.